body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_page{
  margin: 10px;
  margin-top: 60px;
}

.register_form h1, form, .login_form h1, a{
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 10px;

}

.register_form input, .login_form input{

  width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.button label{
  align-content: center;
}

input.button {
  align-content: center;
  text-align: center;
}



